[alias]
coverage         = "tarpaulin"
fmt-check        = "fmt --all -- --check"
integration-test = "test --test integration"
lint             = "clippy -- -D warnings"
schema           = "run schema"
unit-test        = "test --lib --workspace --exclude margined-protocol --exclude"
wasm             = "build --release --lib --target wasm32-unknown-unknown --locked"
wasm-debug       = "build --lib --target wasm32-unknown-unknown --locked"

[target.wasm32-unknown-unknown]
rustflags = ["-C", "link-arg=-s"]
